<nav class="header">
  <div class="header__mobile">
    <img
      class="header__logo"
      routerLink="/home"
      src="assets/icons/logo_yard_sale.svg"
      alt="menu_icon"
    />
    <ul>
      <li>Item 1</li>
      <li>Item 1</li>
      <li>Item 1</li>
    </ul>
  </div>
  <img
    class="header__logo"
    routerLink="/home"
    src="assets/icons/logo_yard_sale.svg"
    alt="store_icon"
  />
  <div class="header__desktop">
    <ul>
      <li routerLinkActive="active" routerLink="/category/women's clothing">
        <p>Women's clothing</p>
      </li>
      <li routerLinkActive="active" routerLink="/category/men's clothing">
        <p>Men's clothing</p>
      </li>
      <li routerLinkActive="active" routerLink="/category/electronics">
        Electronics
      </li>
      <li routerLinkActive="active" routerLink="/category/jewelery">
        Jewelery
      </li>
    </ul>
  </div>
  <div class="header__user">
    <p *ngIf="this.user">{{ this.user.username }}</p>
    <img
      [routerLink]="user ? ['/user/profile'] : ['/login']"
      src="assets/icons/default_avatar.svg"
      alt="user_icon"
    />
    <div class="header__cart" (click)="toggleCart()">
      <img src="assets/icons/shoppong_cart_icon.svg" alt="user_icon" />
      <p *ngIf="totalProducts">{{ totalProducts | truncatecart }}</p>
    </div>
  </div>
</nav>
<app-cart-list
  *ngIf="cartIsOpen"
  (toggleCart)="closeCart($event)"
></app-cart-list>
