<nav class="header">
  <div class="header__mobile">
    <img src="" alt="menu_icon" />
    <ul>
      <li>Item 1</li>
      <li>Item 1</li>
      <li>Item 1</li>
    </ul>
  </div>
  <img src="" alt="store_icon" />
  <div class="header__desktop">
    <ul>
      <li>Item 1</li>
      <li>Item 1</li>
      <li>Item 1</li>
    </ul>
  </div>
  <div class="header__user">
    <p>elcaballerooscuro@live.com.mx</p>
    <img src="" alt="user_icon" />
    <div class="header__cart">
      <img src="assets/icons/shoppong_cart_icon.svg" alt="user_icon" />
      <p>99</p>
    </div>
  </div>
</nav>
