$green-color: #acd9b2;

.header {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  &__logo {
    width: 150px;
    margin: 0 10px;
    height: auto;
    cursor: pointer;
  }
  &__desktop {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 5px;

        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        p {
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover {
          border: 1px solid $green-color;
          color: $green-color;
        }
        &.active {
          border: 1px solid $green-color;
          color: $green-color;
        }
      }
    }
  }
  &__mobile {
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50px;
    img {
      width: 50%;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        border: 1px solid white;
        border-radius: 5px;
        padding: 3px 5px;
        margin: 5px 0;
        text-align: center;
        p {
          margin: 0;
        }
        &.active {
          border: 1px solid $green-color;
          color: $green-color;
        }
      }
    }
  }
  &__user {
    display: flex;
    min-width: 130px;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    padding: 1px;
    & > img {
      padding: 0;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      overflow: hidden;
      display: block;
      flex-shrink: 0;
      &:hover {
        cursor: pointer;
      }
    }
    &_username {
      min-width: 80px;
      max-width: 50px;
      padding: 0 2px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__cart {
    position: relative;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    font-size: 10px;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 9px;
      border-radius: 50%;
      margin: 0;
      bottom: 8px;
      right: 0;
      display: table-cell;
      text-align: center;
      color: white;
      vertical-align: middle;
      background-color: $green-color;
    }
  }
}

.header-usermenu {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 10px;
  ul {
    list-style: none;
    padding: none;
    text-align: center;
    li {
      padding: 3px 5px;
      border: 1px solid white;
      border-radius: 5px;
      &:last-child {
        color: red;
      }
      &.active {
        border-color: var(--green-color);
      }
    }
  }
}

.header__usermenu-mobile {
  display: none !important;
}

.login-button {
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

.login-button-desktop {
  display: none !important;
}
@media (max-width: 590px) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
    }

    &__usermenu {
      &-desktop {
        display: none !important;
      }
      &-mobile {
        display: block !important;
      }
    }
  }
  .login-button-desktop {
    display: none !important;
  }
}
