<div>
  <div class="register">
    <h2>Create account</h2>
    <form action="">
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Username</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Email</label>
      </div>
      <div class="form-row">
        <div class="input">
          <input type="text" placeholder="Email" />
          <label for="">Name</label>
        </div>
        <div class="input">
          <input type="text" placeholder="Email" />
          <label for="">Lastname</label>
        </div>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Phone</label>
      </div>
      <div>
        <p>
          Your password must be at least 8 characters long and contain
          alphanumeric and uppercase characters.
        </p>
        <div class="input">
          <input type="text" placeholder="Email" />
          <label for="">Password</label>
        </div>
        <div class="input">
          <input type="text" placeholder="Email" />
          <label for="">Repeat password</label>
        </div>
      </div>
    </form>
    <button>Sign Up</button>
    <p class="register__disclaimer">
      By clicking Sing Up, you are indicating that you have liked the page and
      want explore more.
    </p>
  </div>
</div>
