<div class="footer">
  <div class="footer__content">
    <div>
      <h3>Yard sale</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dicta,
        magni, velit ea, blanditiis enim illo nemo dolor minima possimus quo
        delectus placeat laborum nostrum. Iure provident voluptatibus cumque
        distinctio.
      </p>
    </div>
    <div>
      <h3>Information</h3>
      <ul>
        <li>Product list</li>
        <li>Products on sale</li>
        <li>New products</li>
        <li>Lorem</li>
      </ul>
    </div>
    <div>
      <h3>Contact</h3>
      <ul>
        <li>Who we are</li>
        <li>Work in yardsale</li>
        <li>Help</li>
        <li>Contact us</li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    <p>©2022 Copyright: www.ismaelpo.com</p>
  </div>
</div>
