<div>
  <div class="checkout">
    <form action="">
      <h3>Contact information</h3>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Name</label>
        <span>Example: Octavio Paz</span>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Email</label>
        <span>Example: your_email@address.com</span>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Phone</label>
        <span>Example: 5544556655</span>
      </div>
      <h3>Shipping information</h3>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">City</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Address</label>
        <span>Example: Moth bulevar 103-C </span>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Apartment,suite,etc.</label>
        <span>Example: 3rd floor </span>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Zipcode</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Email" />
        <label for="">Repeat password</label>
      </div>
    </form>
    <button>Next</button>
  </div>
</div>
