<div class="cartview__item">
  <img
    class="cartview__revome-item"
    src="assets/icons/close_icon.svg"
    alt=""
    (click)="removeProduct()"
  />
  <p class="cartview__item-name">{{ product.title }}</p>
  <div class="cartview__info">
    <img [src]="product.image" alt="" />
    <div>
      <p>{{ product.description }}</p>
    </div>
  </div>
  <div class="cartview__item-price">
    <p>{{ product.price | currency }}</p>
    <div class="cartview__quantity">
      <p>{{ product.quantity }}</p>
      <div>
        <img
          src="assets/icons/up_arrow.svg"
          alt=""
          (click)="increaseQuantity()"
        />
        <img
          src="assets/icons/down_arrow.svg"
          alt=""
          (click)="decreaseQuantity()"
        />
      </div>
    </div>
  </div>
  <hr />
  <div class="cartview__item-total">
    <p>Subtotal:</p>
    <p>{{ product.price * product.quantity | currency }}</p>
  </div>
</div>
