:host {
  display: block;
  width: 100%;
}

.products {
  margin: 0 auto;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 15px;

  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 90%;
  margin: 20px auto;
  img {
    width: 100%;
  }
}
