<div class="order-preview">
  <div
    class="order-preview__container"
    *ngIf="user && products.length > 0; else noLogin"
  >
    <div class="products">
      <div class="product" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.image" alt="" />
        </div>
        <div class="product-info">
          <h4 class="product-title">{{ product.title }}</h4>
          <p class="product-status">Available</p>
          <p class="product-description">{{ product.description }}</p>
          <div class="product-menu">
            <p>Qty: {{ product.quantity }}</p>
            <p class="product-price">
              Price: <b>{{ product.quantity | currency }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="shipping">
      <div class="shipping__container">
        <h3>Ship to</h3>
        <p>
          <b>{{ user.name.firstname + " " + user.name.lastname }}</b>
        </p>
        <p>
          <i>{{ user.phone }}</i>
        </p>
        <p>
          <i>{{ user.email }}</i>
        </p>
        <br />
        <p><b>Address</b></p>
        <p>{{ user.address.street + ", " + user.address.number }}</p>
        <p>{{ user.address.zipcode }}</p>
        <p>Texas, USA</p>
        <br />
        <h3>Order Information</h3>
        <div class="shipping__container-row">
          <span>Products:</span>
          <span>
            <b>{{ total | currency }}</b>
          </span>
        </div>
        <div class="shipping__container-row">
          <span>Shipping:</span>
          <span>
            <b>{{ 0 | currency }}</b>
          </span>
        </div>
        <div class="shipping__container-row shipping__container-row--last">
          <span>Total:</span>
          <span>
            <b>{{ total | currency }}</b>
          </span>
        </div>

        <button>Procced to payment</button>
      </div>
    </div>
  </div>
  <ng-template #noLogin>
    <div class="order-preview__invalid">
      <p>You're not logged in or you dont have products in your cart</p>
    </div>
  </ng-template>
</div>
