<div class="profile">
  <div>
    <nav class="user-menu">
      <ul>
        <li (click)="onTabChange('profile')">
          <span>General information</span>
        </li>
        <li (click)="onTabChange('address')">Address</li>
        <li (click)="onTabChange('password')">Change password</li>
        <li (click)="onTabChange('orders')">Order history</li>
        <li (click)="onTabChange('admin')" *ngIf="isAdmin">Admin page</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </nav>
    <div class="user-info">
      <!-- <h2 class="user-info__title">Change current password</h2> -->
      <div *ngIf="user; else noSession" [ngSwitch]="tab">
        <app-user-info
          [onTabChange]="onTabChange"
          [user]="user"
          *ngSwitchDefault
        ></app-user-info>
        <app-user-address
          [user]="user"
          *ngSwitchCase="'address'"
        ></app-user-address>
        <app-user-password
          [user]="user"
          *ngSwitchCase="'password'"
        ></app-user-password>
        <app-user-orders *ngSwitchCase="'orders'"></app-user-orders>
        <app-user-admin *ngSwitchCase="'admin'"></app-user-admin>
      </div>
      <ng-template #noSession>
        <div class="no-user"><p>You're not logged in</p></div>
      </ng-template>
    </div>
  </div>
</div>
