<div class="login-container">
  <div class="login">
    <img src="assets/icons/user_plain.svg" alt="" />
    <form action="">
      <div>
        <input type="text" name="user" placeholder="text" />
        <label for="user">Username</label>
      </div>
      <div>
        <input type="text" name="password" placeholder="Password" />
        <label for="password">Password</label>
      </div>
    </form>
    <button (click)="login()">Login</button>
    <button routerLink="/register">Sing Up</button>
    <a href="">forgot my password</a>
  </div>
</div>
