<h2 class="user-title">User password</h2>
<div class="password">
  <div>
    <div class="form-input">
      <input type="text" placeholder="_" />
      <label for="">Old password</label>
    </div>
    <div class="form-input">
      <input type="text" placeholder="_" [(ngModel)]="password" />
      <label for="">New password</label>
    </div>
    <div class="form-input">
      <input type="text" placeholder="_" [(ngModel)]="sPassword" />
      <label for="">Repear new password</label>
    </div>
    <button class="button">Change</button>
  </div>
</div>
