<h2 class="user-title">User password</h2>
<div class="password">
  <div>
    <form (submit)="handleSubmit($event)" [formGroup]="form">
      <div class="input">
        <input type="text" placeholder="_" formControlName="oldpassword" />
        <label for="">Old password</label>
        <div *ngIf="error('oldpassword')">
          <span *ngIf="form.controls['oldpassword'].hasError('required')"
            >This field is required</span
          >
          <span *ngIf="form.controls['oldpassword'].hasError('incorrect')"
            >Old password is incorrect</span
          >
        </div>
      </div>
      <div class="input">
        <input type="text" placeholder="_" formControlName="password" />
        <label for="">Password</label>
        <div *ngIf="error('password')">
          <span *ngIf="form.controls['password'].hasError('required')"
            >This field is required</span
          >
          <span *ngIf="form.controls['password'].hasError('length')"
            >The password be at least <strong>8</strong> character</span
          >
          <span *ngIf="form.controls['password'].hasError('numeric')"
            >The password must contain at least one
            <strong>numeric</strong> character</span
          >
          <span *ngIf="form.controls['password'].hasError('upperCase')"
            >The password must contain at least one
            <strong>uppercase</strong> character</span
          >
          <span *ngIf="form.controls['password'].hasError('lowerCase')"
            >The password must contain at least one
            <strong>lowercase</strong> character</span
          >
          <span *ngIf="form.controls['password'].hasError('blankSpace')"
            >The password can't contain <strong>space</strong> character</span
          >
        </div>
      </div>
      <div class="input">
        <input type="text" placeholder="_" formControlName="rpassword" />
        <label for="">Repeat password</label>
        <div *ngIf="error('rpassword')">
          <span *ngIf="form.controls['password'].hasError('required')"
            >This field is required</span
          >
          <span *ngIf="form.controls['rpassword'].hasError('doNotMatch')"
            >The passwords do not match</span
          >
        </div>
      </div>
      <button class="button" type="submit">Change password</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="alert">
  <div class="modal__content">
    <h3>Password updated</h3>
    <img src="assets/icons/success_tick.svg" alt="" />
    <button routerLink="/user/profile" class="button">Ok</button>
  </div>
</div>
